[submodule "third_party/vma"]
	path = Engine/third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third_party/glfw"]
	path = Engine/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/glm"]
	path = Engine/third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/stb"]
	path = Engine/third_party/stb
	url = https://github.com/nothings/stb
[submodule "third_party/tinygltf"]
	path = Engine/third_party/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "third_party/catch2"]
	path = Engine/third_party/catch2
	url = https://github.com/catchorg/Catch2
[submodule "third_party/entt"]
	path = Engine/third_party/entt
	url = https://github.com/skypjack/entt.git
[submodule "third_party/imgui"]
	path = Engine/third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/third_party/yaml-cpp"]
	path = Engine/third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Engine/third_party/flatbuffers"]
	path = Engine/third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "Engine/third_party/imguizmo"]
	path = Engine/third_party/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Engine/third_party/spirv-cross"]
	path = Engine/third_party/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Engine/third_party/glslang"]
	path = Engine/third_party/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Engine/third_party/cereal"]
	path = Engine/third_party/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "Engine/third_party/sol2"]
	path = Engine/third_party/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "Engine/third_party/lua"]
	path = Engine/third_party/lua
	url = https://github.com/lua/lua.git
[submodule "Engine/third_party/JoltPhysics"]
	path = Engine/third_party/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
